.row{
	margin:0.3125em;
	display:block;
	/*background-color:yellow;*/
}
.column{
	display:inline-block;
	/*background-color:blue;*/
	margin:0.3125em;
	width: 6.25em;
	height: 6.25em;
	border-radius:10%;
	text-align:center;
	vertical-align:middle;
	line-height:3.75em;
	background:url(spider.jpg) no-repeat;
	background-size: cover;
}
#game2{
	float:left;
	position:inline;
	background-color:yellow;
}
#scores{
	position:relative;
	margin-top:25em;
	width:20.625em;
	border-bottom:1px dashed black;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}
span{
	font-family:Verdana;
	font-size:25px;
	color:black;
	text-shadow:2px 2px 0px #231a48;
}
#updateScore{
	background-color:#b4fa92;
}
a{
	text-decoration:none;
	color:#333300;
}
a:hover{
	text-decoration:none;
	color:#0d157b;
	text-shadow: 1px 1px 0px black;
}
.time{
	width:4.6875em;
	height:4.6875em;
	display:inline-block;
	background-color:#00BFFF;
	margin-bottom:5px;
	border-radius:15%;
	text-align:center;
	vertical-align:middle;
	line-height:25px;
}
.time
{
  left: 0px;
  position:relative;
  -webkit-animation:SlideDown 3s;
  animation:SlideDown 3s;
}
@-webkit-keyframes SlideDown {
  from {left:-100%;}
  to {left:0px;}
}
@-moz-keyframes SlideDown {
  from {left:-100%;}
  to {left:0px;}
}
@-o-keyframes SlideDown {
  from {left:-100%;}
  to {left:0px;}
}
@keyframes SlideDown {
  from {left:-100%;}
  to {left:0px;}
}
#container{
	position:relative;
	top:0em;
	left:1em;
}
#choose{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px dashed black;
	border-top:1px dashed black;
	width:20.625em;
	background-color:#f4ff1a;
}
#time_chek{
	border-top:1px dashed black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom:1px solid black;
	width:20.625em;
	background-color:#b812bc;
}
/*Adding support for mobile devices*/
@media (max-width:320px){
	.column{
	display:inline-block;
	/*background-color:blue;*/
	margin:0.3125em;
	width: 3.96em;
	height: 3.96em;
	border-radius:10%;
	text-align:center;
	vertical-align:middle;
	line-height:3.75em;
	background:url(spider.jpg) no-repeat;
	background-size: cover;
	}
	#scores{
	position:relative;
	margin-top:15.25em;
	width:20.625em;
	border-bottom:1px dashed black;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	}
}